brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
cryptography==38.0.4
flit-core==3.6.0
idna==3.4
intel-openmp==2021.4.0
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
xz==5.2.8
zlib==1.2.13
zstd==1.5.2
